.noBorder  {
  padding-top: 0 !important;
  border-top: 0 !important;
}

.noPaddingCell {
  padding-bottom: 0 !important;
  border-bottom: 0 !important;
}

.noPaddingColor {
  padding: 0 !important;
}

.noPaddingSymbol {
  padding-left: 0 !important;
}

.noPadding2 {
  padding-top: 5px;
  margin-top: 20px;
  border-top: 20px;
}
